@media screen and (max-width: 900px) {
 

    .about_container{
        padding: 0 0.8rem;
        justify-content: flex-start;
        width: auto;
    }

    .about{
        height: auto;
    }

    .about_story{
        width: 100%;

        &-content{
            width: 100%;
        }

        &-text{
            width: 95%;
            font-size: 1.1rem;
            height: 40vh;
            text-align: center;
        }

        &-title{
            padding-top: 10px;
            text-align: center;
        }
    }


    .about_image-1 img{
        display: none;
    }

    .about_image-2 img{
        display: none;
    }
    
    .about_story{
        height: auto;
        justify-content: center;
    }

    .call{
        height: auto;
    }

    .call_content{
        width: auto;
    }

    .call_image-1 img{
        display: none;
    }

    .call_image-2 img{
        display: none;
    }

    .call_content_sub{
        width: 100%;
        align-items: center;

        &-text{
            width: 80%;
        }
    }

    .call_container{
        height: 100vh;
        justify-content: space-between;
        flex-flow: column nowrap;
    }

    .reinsurance{
        height: 60vh;

        &_container{
            height: 58vh;
        }
    }

    .reinsurance_container{
        width: 70%;
    }

    .reinsurance_object_content{
        display: block;
    }

    .reinsurance_object{
        flex-flow: row nowrap;
        gap: 0;
    }

    .footer{
        height: auto;
    }

    .footer_container{
        flex-flow: column wrap;
        align-items: center;
        padding: 2rem 0;
    }
    
    .footer_container_section{
        width: auto;
    }

    .footer_container_section-img{
       margin: 0;
       padding: 1rem 0;
    }

    .footer_container_section-icon{
        width: 100%;
    }

    .footer_container_section_title{
        font-size: 1rem;
    }

    .footer_container_section_text{
        font-size: 1rem;
    }

    .footer_container_section_btn{
        font-size: 1rem;
    }

   
}