@use '../abstract/variables.scss' as v;

@font-face {
    font-family: v.$text;
    src: url('../../assets/typographies/Raleway-Black.ttf');
}

@font-face {
    font-family: v.$title;
    src: url('../../assets/typographies/Mukta-Regular.ttf');
}