@use '../../Styles/abstract/mixins.scss' as mix;
@use '../../Styles/abstract/variables.scss' as var;

.header {
    background-image: url('../../assets/img/hero_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    @include mix.dflex(column, none, center, wrap, 0);
    @include mix.setcolors(light);
}

.hero-banner {
    width: 75%;
    height: 90vh;
    @include mix.setFont(title);
    @include mix.dflex(column, space-evenly, flex-start, wrap, 0);

    h1 {
        font-size: 4rem;
        @include mix.setFont(title);
    }

    h2 {
        font-size: 2rem;
        @include mix.setFont(title);
        width: 100%;
    }
    .intro {
        height: 30vh;
        @include mix.dflex(column, space-between, flex-start, wrap, 0)
    }
}