@use '../../Styles/abstract/mixins.scss' as mix;
@use '../../Styles/abstract/variables.scss' as var;

.header {
    background-image: url('../../assets/img/hero_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    @include mix.dflex(column, none, center, wrap, 0);
    @include mix.setcolors(light);
}

.hero-banner {
    width: 75%;
    height: 90vh;
    @include mix.setFont(title);
    @include mix.dflex(column, space-evenly, flex-start, wrap, 0);

    h1 {
        font-size: 4rem;
        @include mix.setFont(title);
    }

    h2 {
        font-size: 2rem;
        @include mix.setFont(title);
        width: 100%;
    }
    .intro {
        height: 30vh;
        @include mix.dflex(column, space-between, flex-start, wrap, 0)
    }
}

nav {
    font-size: 1.5rem;
    border-bottom: 5px solid #fff;
    width: 75%;
    padding: 0.5rem;
    @include mix.dflex(row, space-between, center, wrap, 0);
    @include mix.setFont(text);
    

    ul {
        @include mix.dflex(row, space-between, center, wrap, 2rem);
    }
}

.link {
    @include mix.setcolors(light);
    transition: 0.3s all ease-in-out;
}

.link:hover {
    @include mix.setcolors(primary);
}