@use '../../Styles/abstract/mixins.scss' as mix;
@use '../../Styles/abstract/variables.scss' as var;

.reinsurance {
    @include mix.dflex(column, center, center, wrap, 0);
    @include mix.setcolors(light);
    height: 30vh;
    width: 100%;
    background-color: map-get($map: var.$colors, $key: 'primary');
    &_container {
        @include mix.dflex(row, space-between, center, wrap, 0);
        width: 80%;
    }
    &_object{
        @include mix.dflex(row, flex-start, center, wrap, 10px);
        &_content {
            @include mix.dflex(column, space-between, flex-start, wrap, 5px);
            &_title {
                @include mix.setFont(title);
                font-size: 1.5rem;
            }
            &_text {
                @include mix.setFont(text);
                font-size: 1rem;
            }
        }
    }
}