@use '../../Styles/abstract/mixins.scss' as mix;
@use '../../Styles/abstract/variables.scss' as var;

.nav-bar{
    font-size: 1.5rem;
    border-bottom: 5px solid #fff;
    width: 100%;
    padding: 0.5rem;
    @include mix.dflex(row, space-between, center, wrap, 0);
    @include mix.setFont(text);
    background-color: #AB3F3F;

    ul {
        @include mix.dflex(row, space-between, center, wrap, 2rem);
        padding: 0 1rem 0 0;
    }
}

.link-2 {
    @include mix.setcolors(light);
    transition: 0.3s all ease-in-out;
}

.link-2:hover {
    @include mix.setcolors(secondary);
}

@media sreen and (max-width : 900px) {
    .nav-bar ul{
        display: block;
    }

}